@mixin container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 auto;
}

@mixin common_title {
  color: var(--dark);
  font-size: 2.25rem;
  font-weight: bolder;
  margin-bottom: 1.25rem;
  text-align: center;
}

@mixin common_description {
  color: var(--dark-alt);
  font-size: 1rem;
  max-width: 36.25rem;
  margin: 0 auto;
}

@mixin loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@mixin base-shadow {
  box-shadow: 0 0 0.188rem rgba(0, 0, 0, 0.15);
}
